body {
  background: #7490c4;
    font-family: Roboto, sans-serif;
}

.container {
  background: white;
  margin-top: 100px;
}
.row {
  padding: 20px;
  height: 400px;
}
.col-md-4 {
  margin: 0;
  padding: 0;
}

.card {
    color: #5673D5;
 font-weight: 600;
  padding: 35px;
  padding-bottom: 0;
  border: 0;
  text-align: center;
  height: 100%;
  position: absolute;
  transition: 0.5s;
}
.card:hover {
  background: #e8e3e3;
}
.card .card-img-top {
  width: 100px;
  margin: 0 auto;
} 

.card .card-text {
  color: grey;
  font-weight: 100;
}

.card p {
  color: #1881ff;
}

.card p.price {
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card p.price sub,
.card p.price sup {
  font-size: 13px;
}

.card p.price sup {
  top: -0.6em;
}

.card p.price sub {
  top: -0.1em;
}
